@media all and (max-width:1593px) {
    .fixed-with {
        width: 100%;
        max-width: 100%;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .header {
        background-color: #3498db;
        padding: 10px 0px;
    }
}
@media all and (max-width:1161px) {
    .header-right {
       
        width: 100%;
        text-align: center;
    }
    .header-left {
       
        width: 100%;
        /* margin-left: -203px; */
        text-align: center;
    }
    .header-right ul {
        text-align: center;
    }
}
@media all and (max-width:973px) {
    .service-item h3 {
        margin: 20px 0;
        font-size: 24px;
    }
    .blog-left-content {
        width: 100%;
        box-sizing: border-box;
        padding-right: 49px;
    }
    .blog-left-notificaiton {
        width: 100%;
        padding-right: 45px;
        box-sizing: border-box;
    }
    
}
@media all and (max-width:864px) {
    .header-right ul li a {
        padding: 0px 14px;
        line-height: 50px;
        border: none;
    }
    .banner {
        width: 100%;
        position: relative;
    }
    .banner-caption h2 {
        font-size: 24px;
    }
    .banner-caption h1 {
        width: 432px;
        font-size: 31px;
    }
}
@media all and (max-width:825px) {
    .service-item {
        width: 100%;
        border: 1px solid #ddd;
        padding: 25px 10px;
        box-sizing: border-box;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .footer-left {
        width: 100%;
        text-align: center;
    }
    .footer-right {
        width: 100%;
    }
    .social-menu {
        text-align: center;
        padding-top: 32px;
    }
    .fixed-with {
        width: 100%;
        max-width: 100%;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }

}
@media all and (max-width:546px) {
    .service {
        background-color: #f9f9f9;
        padding: 0;
    }
    .banner-caption h1 {
        font-size: 23px;
        max-width: 67%;
    }

}